.iconBtn {
  transition: all 0.3s !important;
}
.iconBtn:hover {
  background-color: #c4c2c2 !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}
.todoCard {
  transition: all 0.3s !important;
}
.todoCard:hover {
  padding: 20px 0;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: Alex;
  src: url("../public/Fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Alex;
  src: url("../public/Fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Alex;
  src: url("../public/Fonts/Alexandria-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Alex;
  src: url("../public/Fonts/Alexandria-Light.ttf");
  font-weight: 200;
}
